.metricas {
    display: flex;
    position: relative;
    width: auto;
    column-gap: 2rem;
    padding: 6rem 0;
}
.metrica {
    width: 100%;
}

.metrica__titulo {
    font-size: 3.75rem;
    color: var(--vermelho);
    margin-bottom: .75rem;
}
.metrica__subtitulo {
    margin-bottom: .5rem;
}
.metrica__descricao {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--cinza);
}